html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(32, 32, 32);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* general classes */
h1 {
    font-family: 'Italiana', serif;
    text-align: center;
    margin-top: 30px;
    overflow-y: hidden;
    color: rgb(41, 146, 136);
}

p {
    text-align: center;
    padding: 20px;
    color: white;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.btn {
    background: rgb(41, 146, 136);
    width: 80%;
}

.button {
    width: 80%;
}

ul {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.row {
    margin: 20px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

li {
    display: list-item;
}

.btn {
    width: 120px;
    border-radius: 50px;
    padding: 6px;
    text-align: center;
}



/* Navbar */
.fancynavbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}


.fancynavbar-toggler {
    cursor: pointer;
    width: 30%;
    opacity: 1;
    height: 20%;
    margin-top: 10px;
}

.fancynavbar-togglerbar {
    display: flex;
    justify-content: space-between;
}


.fancynavbar-toggler-icon path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.fancynavbar-collapse{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    overflow: auto;
    position: absolute;
    text-align: left;
    padding: 0;
    z-index: -1;
    backdrop-filter: blur(20px);
    background-color: #000;
    opacity: 0.92;
    width: 100%;
}

.navbar {
    position: sticky;
    width: 100%;
}


.iconDiv {
    display: inline-block;
    font-size: 1.2em;
    margin: 10px;
}

.fa {
    color: white;
    font-size: 1.5em;
    margin: 5px;
}

.bg {
  background-image: url("../Assets/Images/KB_Pics/PlainKBlogo.jpg");
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
    background-color: rgb(0,0,0); /*Fallback color */
    background-color: rgba(0,0,0, 0.1); /*Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.name {
    font-family: 'Italiana', serif;
}

/* Footer */
.footer {
    background: rgb(87, 87, 87);
    width: 100%;
    padding: 10px;
}
